<!DOCTYPE html>
<html>

<head>
    <title>Blog De Robert</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
</head>

<body>
    <h1>Bienvenidos a mi Blog</h1>
    <section>
        {% for elemento in articulos %}
        <article>
            <h3>{{ elemento.nombre }}</h3>
            <p>
                {{ elemento.contenido }}
            </p>
            <img src="{{ elemento.imagen }}">
            <footer>
                {{ elemento.autor }}
            </footer>
        </article>
        {% endfor %}

    </section>
</body>

</html>